body {
    background: url(ciudad.jpg);
    background-size: 100vw 100vh;
    background-attachment: fixed;
    margin: 0;

}

.container{
    align-content: center;
    width: 800px;
    margin: 600px;
    background: rgba(0, 0,0,0.5);
    padding: 20px 20px;
    box-sizing: border-box;
    margin-top: 50px;
    border-radius: 7px;
}

.select { 
    text-align-last: center;
    width: 450px;
    margin:auto;
    background: rgba(245, 223, 238, 0.7);
    padding: 20px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

h2 {
    color: white;
    text-align: center;
    margin: 100px;
    font-size: 30px;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
    

}